'context-menu':
  '.tree-view .file':
    'Remote Sync':
      'Upload File': 'remote-sync:upload-file'
      'Download File': 'remote-sync:download-file'
      'Diff File': 'remote-sync:diff-file'
  '.tree-view .header.list-item':
    'Remote Sync':
      'Configure': 'remote-sync:configure'
      'Upload Folder': 'remote-sync:upload-folder'
      'Download Folder': 'remote-sync:download-folder'
      'Diff Folder': 'remote-sync:diff-folder'
