// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
.file-monitoring,
.folder-monitoring {
    .name {
        &:after {
            content: "M";
            color: @text-color-success;
            margin-left: 5px;
        }
    }
    &.pulse {
        .name {
            &:after {
                content: "\2026";
                color: @text-color-success;
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                animation: ellipsis steps(4,end) 900ms infinite;
                width: 0;
                margin-left: 0;
            }
        }
    }
}
.folder-monitoring {
    .name {
        &:after {
            color: @text-color-warning;
        }
    }
    &.pulse {
        .name {
            &:after {
                color: @text-color-warning;
            }
        }
    }
}
@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
